@using Pulse.Shared.UI.Components
@using Pulse.Posts.UI.Components
@using Pulse.Posts.UI.Models
@using Pulse.Posts.UI.Mapping
@using Pulse.Posts.Contracts
@using Pulse.Timeline.Contracts
@using Pulse.Users.Contracts
@using Pulse.Shared.Auth
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject ITimelineService TimelineService
@inject IPostQueryService PostQueryService
@inject IUserQueries UserQueries
@inject PostMapper Mapper
@inject IdentityProvider IdentityProvider

@code {
    private IEnumerable<PostViewModel> FirstPage { get; set; } = new List<PostViewModel>();
    private string ContinuationToken { get; set; } = string.Empty;
    private bool IsEmpty => !FirstPage.Any();

    protected override async Task OnInitializedAsync()
    {
        var currentUser = IdentityProvider.GetCurrentUser();
        var timeline = await TimelineService.GetTimelinePage(currentUser.Id, string.Empty, 50);
        var posts = await PostQueryService.Get(timeline, CancellationToken.None);
        var userTasks = posts.Select(p => p.UserId).Distinct().Select(UserQueries.GetUser);

        var users = await Task.WhenAll(userTasks);

        FirstPage = posts.Select(p => Mapper.MapToViewModel(p, users.First(u => u.Id == p.UserId)));
    }

    private string GetContinuationUrl() => !string.IsNullOrWhiteSpace(ContinuationToken) 
            ? $"/api/timeline?continuationToken={ContinuationToken}"
            : string.Empty;
}

<div x-data="{ isEmpty: @IsEmpty.ToString().ToLower() }" x-on:pulse:post-created="isEmpty = false" id="user-feed" class="[&_p:last-child]:text-slate-500 [&_p:first-child]:text-lg divide-y divide-slate-200">
    @if (FirstPage.Any())
    {
        <InfinitelyScrollingFeedPage 
            EagerItems="@FirstPage.ToList()" 
            ContinuationUrl="@GetContinuationUrl()" 
            FeedElementSelector="#user-feed"
            Context="post">
            <ItemTemplate>
                <Post CurrentPost="@post"/>
            </ItemTemplate>    
        </InfinitelyScrollingFeedPage>
    }
    
    <div x-show="isEmpty" class="text-center text-slate-500 text-lg p-8">
        <p>Nothing to see here.</p>
    </div>
</div>