@page "/"
@page "/home"
@using Pulse.Shared.UI.Components
@using Pulse.Posts.UI.Components
@using Pulse.Timeline.UI.Components
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject IHttpContextAccessor HttpContextAccessor

@if (HttpContextAccessor.HttpContext?.User?.Identity?.IsAuthenticated == true)
{
    <div id="home-feed">
        <PostForm />
        <Feed />
        <Modal data-js-open-event="pulse:attachment-clicked">
            <AttachmentModal />
        </Modal>
    </div>
}
else
{
    <p class="text-center text-slate-500">
        Please <a href="/auth/realm/Pulse" class="text-blue-500">login</a> to view your timeline.
    </p>
}