@code {
    [Parameter] public bool IsFollowing { get; set; } = false;
    [Parameter] public Guid? UserId { get; set; } = Guid.Empty;

    private string GetButtonClass() => IsFollowing ? "bg-slate-900 text-white" : "bg-white text-slate-900";
    private string GetButtonText() => IsFollowing ? "Unfollow" : "Follow";

    private string htmxMethod => IsFollowing ? "hx-delete" : "hx-post";
    private string RequestUrl => $"/api/user/{UserId}/followers";

    private Dictionary<string, object> requestAttributes = [];

    protected override void OnInitialized()
    {
        requestAttributes.Add(htmxMethod, RequestUrl);     
    }
}

<div>
    <button
        hx-swap="outerHTML"
        hx-trigger="click"
        hx-boost="true"
        class="inline-flex items-center font-bold rounded-full border px-4 py-2 text-sm border-transparent disabled:opacity-50 transition-opacity duration-200 @GetButtonClass()"
        @attributes="@requestAttributes">
        @GetButtonText()
        @UserId
        
    </button>
</div>