@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>();
}

<div data-controller="modal" hidden @attributes="AdditionalAttributes">
    <div data-component="backdrop"
         class="mt-[10px] overflow-scroll md:overflow-hidden h-screen w-screen sm:px-8 md:px-16 lg:px-15 sm:py-8 fixed top-0 left-0 flex justify-center items-center bg-gray-700 bg-opacity-75 transition-opacity duration-1000">
        <main data-component="main-content" class="bg-pulse-900 rounded-lg shadow-xl max-w-2xl w-full max-h-[90vh] overflow-hidden">
            <div class="flex items-center justify-between p-4 border-b border-gray-200">
                <div></div>
                <button data-component="close-button"
                        class="text-gray-400 hover:text-gray-600 transition-colors">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            
            <div class="overflow-y-auto max-h-[calc(90vh-4rem)]">
                @ChildContent
            </div>
        </main>
    </div>
</div>
