@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Href { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

<div class="bg-pulse-500/10 rounded-xl mb-3 shadow-xl">
    @if(!string.IsNullOrWhiteSpace(Title))
    {
        <div class="px-4 py-4">
            <h2 class="text-xl font-bold leading-none">
                @Title
            </h2>
        </div>
    }

    @ChildContent

    @if(!string.IsNullOrWhiteSpace(Href))
    {
        <div class="px-4 py-4">
            <a class="text-sm font-medium" href=@Href>
                Show more
            </a>
        </div>
    }
</div>