@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Href { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

<div class="bg-slate-50 rounded-xl mb-3">
    <div class="px-4 py-4">
        <h2 class="text-xl font-bold leading-none">
            @Title
        </h2>
    </div>
    @ChildContent
    <div class="px-4 py-4">
        <a class="text-sm font-medium" href=@Href>
            Show more
        </a>
    </div>
</div>